* {
  margin: 0;
  padding: 0;
  line-height: 1;
  outline: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html {
  font-size: 62.5%;
}


.section {
  display: grid;
  grid-template-columns: 20fr 80fr;
  height: 100vh;
  position: relative;
}
.navigation {
  background-color: cadetblue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  background-color: #eee;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.nav-info-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 2rem;
}
.info-title {
  font-size: 4rem;
  font-weight: 900;
}
.info-email {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #f5f5fa;
}
.nav-list {
  list-style: none;
  font-size: 2rem;
  font-weight: 700;
}
.nav-list-li {
  padding: 3rem;
  width: 100%;
  height: 6rem;
  margin-bottom: 3rem;
}

.navlink {
  text-decoration: none;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}
.add-new-box {
  text-decoration: none;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}
.navlink:hover,
.nav-list-li:hover {
  background-color: rgb(75, 138, 140);
  cursor: pointer;
}

.navlink-value {
  color: lightgray;
}
.navlink-icon {
  font-size: 7rem;
  padding-right: 1rem;
}
.navlink-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.add-form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 43rem;
  height: 70rem;
  background-color: white;
  z-index: 200;
  border-radius: 1rem;
}
.make-darker {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 50%;
  z-index: 100;
}
.hidden {
  display: none;
}

.add-form-top-bar {
  display: flex;
  align-items: center;

  font-size: 2rem;
  padding-top: 1.5rem;
  margin: 0 1rem;
}
.add-form-menu {
  text-align: center;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
}
.add-form-exit-btn {
  background-color: #fff;
  padding: 1rem;
  border-radius: 100%;
  margin-left: 0.5rem;
  font-size: 3rem;
}
.add-form-exit-btn:hover {
  background-color: #eee;
  cursor: pointer;
}

.add-form-menu:hover {
  background-color: #eee;
  cursor: pointer;
}

.add-form-value {
  background-color: #eee;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
.add-form-value-input {
  all: unset;
  padding: 2rem;
  font-size: 3rem;
  width: 100%;
  font-weight: 800;
}
.add-form-value-input::placeholder {
  color: #aaa;
}
.add-form-value-icon {
  font-size: 4rem;
  padding: 1.5rem;
  color: #aaa;
}

.add-form-name {
  background-color: #eee;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
}
.add-form-name-input {
  all: unset;
  padding: 2rem;
  font-size: 3rem;
  color: #000;
  font-weight: 800;
  width: 100%;
}
.add-form-name-input::placeholder {
  color: #aaa;
}
.add-form-name-icon {
  font-size: 5rem;
  padding: 1.5rem;
  color: #aaa;
}

.add-form-category {
  background-color: #eee;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
}
.add-form-category-input {
  all: unset;
  padding: 2rem;
  font-size: 3rem;
  color: #000;
  font-weight: 800;
  width: 100%;
}
.add-form-category-input::placeholder {
  color: #aaa;
}
.add-form-category-icon {
  font-size: 5rem;
  padding: 1.5rem;
  color: #aaa;
}

.add-form-date {
  background-color: #eee;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
}
.add-form-date-input {
  all: unset;
  padding: 2rem;
  font-size: 3rem;
  color: #000;
  font-weight: 800;
  width: 100%;
}
.add-form-date-input::placeholder {
  color: #aaa;
}
.add-form-date-icon {
  font-size: 5rem;
  padding: 1.5rem;
  color: #aaa;
}
.add-form-btn-box {
  text-align: center;
}
.add-form-btn-save {
  font-size: 2rem;
  padding: 2rem 8rem;
  border: none;
  border-radius: 10rem;
  margin-top: 2rem;
  color: #aaa;
  font-weight: 800;
  pointer-events: none;
}
.ready-to-save {
  background-color: cadetblue;
  color: #fff;
  box-shadow: 1px 3px 6px rgb(105, 168, 170);
  cursor: pointer;
  pointer-events: auto;
}
.statement {
  margin: 1rem;
  border-left: #aaa 1px solid;
  border-right: #aaa 1px solid;
}
.statement-table {
  font-size: 1.8rem;
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
}
.statement-table td {
  text-align: center;
  padding: 1rem;
}
.statement-table th {
  padding: 1rem;
}
.statement-table thead {
  background-color: cadetblue;
  color: #fff;
}
.statement-table tr:nth-child(even) {
  background-color: #eee;
}
.expense-table-total-row th {
  background-color: #b23655;
  color: #fff;
}

.expense-table-total-row td {
  background-color: #b23655;
  color: #fff;
  font-weight: 800;
}

.incomes-table-total-row th {
  background-color: cadetblue;
  color: #fff;
}

.incomes-table-total-row td {
  background-color: cadetblue;
  color: #fff;
  font-weight: 800;
}
.incomes-table-header th {
  background-color: cadetblue;
  color: #fff;
}
.incomes-table-header td {
  background-color: cadetblue;
}

.expense-table-header th {
  background-color: #b23655;
  color: #fff;
}
.expense-table-header td {
  background-color: #b23655;
}
